body{
    background-color: #fbfbfb;
}
h1, h2, h3, h4, h5, h6, h2 button.accordion-button{
    background: -webkit-linear-gradient(#2B5180, #30799b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}
body, p, h1, h2, h3, h4, h5, h6, label, input, textarea, radio, checkbox{
    font-family: 'Jost', sans-serif;
}

p{
    font-size: 20px;
}

#home{
    position: relative;
}

#home-carousel .carousel-inner .carousel-item img {
    height: 768px;
    object-fit: cover;
}
#home-carousel .carousel-inner h2{
    color: #fff;
    -webkit-text-fill-color: #fff;
}
#box-home-items .btn.btn-imo{
    font-size: 25px;
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.5);
}
ul#list-collapse-query {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}
#list-collapse-query li:hover{
    background-color: #fcfcfc;
}
#list-collapse-query a:hover{
    color: #2361ae;
}
#list-collapse-query a{
    width: 100%;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #2B5180;
}
#box-home-items{
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: 12;
    width: 35%;
}
#box-home-items li a{
    font-size: 20px;
}
.btn-imo:hover{
    color: #fff;
    background-color: #2361ae;
    transition: .5s;
}
.btn-imo{
    background-color: #2B5180;
    color: #fff;
}
#quemsomos .btn-item-2-row-2 img{
    object-fit: cover;
    height: 130px;
}

#btn-item-4 .row:first-child img{
    object-fit: cover;
    min-height: 100%;
}

.imo-selos-img{
    width: 70px;
    height: 77px;
    object-fit: cover;
    margin: 5px;
}

.imo-table .list-group-item{
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.7);
}
.top-header, #bottom-imo{
    background-color: #2B5180;
}
#bottom-imo{
    padding-bottom: 90px !important;
}
.collapse.navbar-collapse.top-main{
    justify-content: flex-end;
}

.navbar-brand img{
    width: auto;
    height: auto;
}

.bg-light-imo{
    background-color: #f1f1f1;
}

.top-phones .collapse.navbar-collapse.top-main ul li span.material-icons{
    color: #fff;
    font-size: 17px;
    position: relative;
    top: 3px;
}

.top-phones .collapse.navbar-collapse.top-main ul{
    align-items: center;
    display: flex;
    collapse: #fff;
}

header#navbar_top {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

#header-main-top, #footer-main-bottom{
    justify-content: center;
}

#header-main-top {
    justify-content: flex-end;
}
#header-main-top ul {
    justify-content: space-between;
    width: 80%;
}
#header-main-top ul li a.nav-link.scrollto{
    display: flex;
    flex-flow: column;
    align-items: center;
    background: -webkit-linear-gradient(#309B93, #2B5180);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
}

#header-main-top ul li a.nav-link.scrollto.active,
#header-main-top ul li a.nav-link.scrollto:hover{
    display: flex;
    flex-flow: column;
    align-items: center;
    background: -webkit-linear-gradient(#000, #2B5180);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-main-top ul li a.nav-link.scrollto .material-icons{
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#header-main-top ul li a.nav-link.scrollto.active .material-icons,
#header-main-top ul li a.nav-link.scrollto:hover .material-icons{
    padding-top: 0px;
    font-size: 28px;
    transition: .3s;
    margin-bottom: 7px;
}

#footer-main-bottom ul li a.nav-link.scrollto{
    display: flex;
    flex-flow: column;
    align-items: center;
    background: -webkit-linear-gradient(#a1a1a1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imo-header-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.h-100-imo-img{
    object-fit: cover;
    height: 100%;
}

#orcamento-modal .form-group {
    padding: 10px;
}
#orcamento-modal .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#orcamento-modal form label{
    font-size: 18px;
    color: #363232;
}

#orcamento-modal form input, #orcamento-modal form select, #orcamento-modal form textarea {
    border: 1px solid #6D6D6D;
    width: 100%;
    border-radius: 0;
}

#orcamento-modal form input[type=checkbox], #orcamento-modal form input[type=radio]{
    width: 18px;
    height: 18px;
}
#orcamento-modal form input[type=radio]{
    border-radius: 50%;
}

#orcamento-modal form input, #orcamento-modal form textarea, #orcamento-modal radio, #orcamento-modal option, #orcamento-modal select{
    font-size: 18px;
}

#orcamento-modal form textarea{
    min-height: 200px;
}

#orcamento-modal .accordion-header{
    position: relative;
}
#orcamento-modal .accordion-header::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#orcamento-modal .accordion-header button{
    position: relative;
    z-index: 2;
}

.imo-hide{
    display: none;
}

.form-group.regulamentos-group {
    display: flex;
    flex-wrap: wrap;
}

.form-group.col-md-12.regulamentos-group .form-group label{
    width: 100%;
}
.form-group.col-md-12.regulamentos-group .form-group {
    width: 25%;
}

#orcamento-modal button{
    text-transform: uppercase;
}

@media screen and (max-width: 991px){
    #home-carousel .carousel-inner .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}
