#home-carousel .carousel-inner .carousel-item img {
    height: 768px;
    object-fit: cover;
}

@media screen and (max-width: 990px){
    #home-carousel .carousel-inner .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}
